<style>
    .g-stickybar .thumb img{display:none}
    .g-stickybar .thumb img.loaded{display:inherit}
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>@import url({{ 'globocheckout.css' | asset_url }});</style>
<div class="g-stickycart-wrapper" style="">
   <div class="g-stickycart ui-draggable ui-draggable-handle" selected="" data-template="stickcart-1" data-action="goto_checkout" data-measure="pixel" data-content="icon" data-icon="fa-shopping-cart" style="background-color: rgb(255, 255, 255); border-color: rgb(255, 255, 255); color: rgb(119, 150, 168); font-size: 24px; line-height: 56px; width: 56px; height: 56px; border-width: 0px; top: 200px; right: 10px;" onmouseleave="this.style.backgroundColor='rgb(255, 255, 255)';this.style.borderColor='rgb(255, 255, 255)';this.style.color='rgb(119, 150, 168)';" onmouseenter="this.style.backgroundColor='rgba(255, 255, 255, 0.6)';this.style.borderColor='rgb(255, 255, 255)';this.style.color='rgb(80, 80, 80)';" data-font="Lato_Bold">
      <span class="g-badge ui-draggable ui-draggable-handle g-stickycart-count" style="width: 18px; height: 18px; line-height: 18px; top: 0px; left: 0px; font-size: 13px; background: rgb(255, 107, 107); color: rgb(255, 255, 255);" onmouseleave="this.style.color='rgb(255, 255, 255)';this.style.backgroundColor='rgb(255, 107, 107)';" onmouseenter="this.style.color='rgb(255, 255, 255)';this.style.backgroundColor='rgb(254, 131, 131)';">1</span>
      <i class="fa g-stickycart-icon fa-shopping-bag" aria-hidden="true" data-icon="fa-shopping-bag"></i>
   </div>
</div>
<div class="g-stickybar-wrapper" style="">
   <div class="import-font"><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=News+Cycle:400"></div>
   <div class="g-stickybar bar-stick-1" data-template="stick-1" data-action="goto_checkout" data-position="position_bottom" data-display="alwayshow" style="height: 93px; top: unset; bottom: 0px; background-color: rgb(246, 247, 251);" onmouseleave="this.style.backgroundColor='rgb(246, 247, 251)';" onmouseenter="" data-font="News_Cycle" selected="selected">
      <div class="wrapper">
         <div class="item thumb">
            <img src="//cdn.shopify.com/s/files/1/2949/0188/products/2015-04-03_Jake_Look_08_32020_18028.jpg?v=1517202413" class="">
         </div>
         <div class="item title">
            <div class="g-left">
               <div class="product-title">
                  <div class="g-stickybar-title" style="color: rgb(0, 0, 0); font-size: 16px;" onmouseleave="this.style.color='rgb(0, 0, 0)';">5 Pocket Jean - 30 / Indigo</div>
                  <span class="g-rating"><meta itemprop="bestRating" content="5"> <meta itemprop="worstRating" content="1"> <meta itemprop="reviewCount" content="1"> <meta itemprop="ratingValue" content="4.0"> <i class="spr-icon spr-icon-star"></i><i class="spr-icon spr-icon-star"></i><i class="spr-icon spr-icon-star"></i><i class="spr-icon spr-icon-star"></i><i class="spr-icon spr-icon-star-empty"></i></span>
               </div>
            </div>
            <div class="no-margin-seperator"></div>
            <div class="g-right">
               <div class="g-price">
                  <span class="g-compare money">
                  <span class="money_character">$</span>
                  <span class="price_compare">404.6</span>
                  </span>
                  <span class="regular money">
                  <span class="money_character">$</span>
                  <span class="price_regular">304.6</span>
                  </span>
               </div>
            </div>
         </div>
         <div class="item option">
            <div class="custom-select">
               <select class="option-item single-option-selector" data-option="option1" id="ProductSelect-product-template-option-0">
                  <option value="9776987177003" selected="">30</option>
                  <option value="9776987209771">32</option>
                  <option value="9776987242539">34</option>
               </select>


            <div class="select-selected">30</div><div class="select-items select-hide"><div>30</div><div>32</div><div>34</div></div></div>
            <div class="custom-select">
               <select class="option-item single-option-selector" data-option="option2" id="ProductSelect-product-template-option-1">
                  <option value="Indigo">Indigo</option>
               </select>
               <div class="select-selected">Indigo</div><div class="select-items select-hide"><div>Indigo</div></div></div>
         </div>
         <div class="item quantity">
            <div class="qty_action g-sub">-</div>
            <input type="text" value="1">
            <div class="qty_action g-add">+</div>
         </div>
         <div class="item bar-action">
            <button class="action g-stickybar-buynow" type="submit" data-effect-hover="slide" style="font-size: 11px; width: 130px; height: 35px; font-weight: bold; text-align: center; border-radius: 15px; color: rgb(255, 255, 255); background-color: rgb(37, 37, 37); border-width: 0px; border-color: rgb(255, 255, 255);" onmouseleave="this.style.color='rgb(255, 255, 255)';this.style.backgroundColor='rgb(37, 37, 37)';this.style.borderColor='rgb(255, 255, 255)';" onmouseenter="this.style.color='rgb(255, 255, 255)';this.style.backgroundColor='rgb(37, 37, 37)';this.style.borderColor='rgb(255, 255, 255)';">BUY NOW</button>
         </div>
      </div>
   </div>
   <div class="g-stickybar bar-stick-2" data-template="stick-2" data-action="goto_checkout" data-position="position_top" data-display="alwayshow" style="height: 70px; top: 0px; bottom: unset; background-color: rgb(255, 255, 255);" onmouseleave="this.style.backgroundColor='rgb(255, 255, 255)';" onmouseenter="" data-font="News_Cycle">
      <div class="wrapper">
         <div class="item thumb">
            <img src="//cdn.shopify.com/s/files/1/2949/0188/products/2015-04-03_Jake_Look_08_32020_18028.jpg?v=1517202413" class="">
         </div>
         <div class="item title">
            <div class="g-left">
               <div class="product-title">
                  <div class="g-stickybar-title" style="color: rgb(0, 0, 0); font-size: 16px;" onmouseleave="this.style.color='rgb(0, 0, 0)';">5 Pocket Jean - 30 / Indigo</div>
                  <div class="g-price">
                     <span class="g-compare money">
                     <span class="money_character">$</span>
                     <span class="price_compare">404.6</span>
                     </span>
                     <span class="regular money">
                     <span class="money_character">$</span>
                     <span class="price_regular">304.6</span>
                     </span>
                  </div>
               </div>
            </div>
            <div class="no-margin-seperator"></div>
            <div class="g-right">
               <span class="g-rating"><meta itemprop="bestRating" content="5"> <meta itemprop="worstRating" content="1"> <meta itemprop="reviewCount" content="1"> <meta itemprop="ratingValue" content="4.0"> <i class="spr-icon spr-icon-star"></i><i class="spr-icon spr-icon-star"></i><i class="spr-icon spr-icon-star"></i><i class="spr-icon spr-icon-star"></i><i class="spr-icon spr-icon-star-empty"></i></span>
            </div>
         </div>
         <div class="item option">
            <div class="custom-select">
               <select class="option-item single-option-selector" data-option="option1" id="ProductSelect-product-template-option-0">
                  <option value="9776987177003" selected="">30</option>
                  <option value="9776987209771">32</option>
                  <option value="9776987242539">34</option>
               </select>


            <div class="select-selected">30</div><div class="select-items select-hide"><div>30</div><div>32</div><div>34</div></div></div>
            <div class="custom-select">
               <select class="option-item single-option-selector" data-option="option2" id="ProductSelect-product-template-option-1">
                  <option value="Indigo">Indigo</option>
               </select>


            <div class="select-selected">Indigo</div><div class="select-items select-hide"><div>Indigo</div></div></div>
         </div>
         <div class="item quantity">
            <div class="qty_action g-sub">-</div>
            <input type="text" value="1">
            <div class="qty_action g-add">+</div>
         </div>
         <div class="item bar-action">
            <button class="action g-stickybar-buynow" type="submit" data-effect-hover="slide" style="font-size: 11px; width: 130px; height: 35px; font-weight: bold; text-align: center; border-radius: 2px; color: rgb(255, 255, 255); background-color: rgb(242, 108, 79); border-width: 0px; border-color: rgb(255, 255, 255);" onmouseleave="this.style.color='rgb(255, 255, 255)';this.style.backgroundColor='rgb(242, 108, 79)';this.style.borderColor='rgb(255, 255, 255)';" onmouseenter="this.style.color='rgb(255, 255, 255)';this.style.backgroundColor='rgb(242, 108, 79)';this.style.borderColor='rgb(255, 255, 255)';">BUY NOW</button>
         </div>
      </div>
   </div>
   <div class="g-stickybar bar-stick-3" data-template="stick-3" data-action="goto_checkout" data-position="alwayshow" data-display="alwayshow" style="height: 70px; top: 0px; bottom: unset; background-color: rgb(255, 255, 255);" onmouseleave="this.style.backgroundColor='rgb(255, 255, 255)';" onmouseenter="" data-font="News_Cycle">
      <div class="wrapper">
         <div class="g-layout-1-2 flex-start">
            <div class="item thumb">
               <img src="//cdn.shopify.com/s/files/1/2949/0188/products/2015-04-03_Jake_Look_08_32020_18028.jpg?v=1517202413" class="">
            </div>
            <div class="item title">
               <div class="g-left">
                  <div class="product-title">
                     <div class="g-stickybar-title" style="color: rgb(0, 0, 0); font-size: 16px;" onmouseleave="this.style.color='rgb(0, 0, 0)';">5 Pocket Jean - 30 / Indigo</div>
                     <div class="g-price">
                        <span class="g-compare money">
                        <span class="money_character">$</span>
                        <span class="price_compare">404.6</span>
                        </span>
                        <span class="regular money">
                        <span class="money_character">$</span>
                        <span class="price_regular">304.6</span>
                        </span>
                     </div>
                  </div>
               </div>
               <div class="no-margin-seperator"></div>
               <div class="g-right seperator">
                  <span class="g-rating"><meta itemprop="bestRating" content="5"> <meta itemprop="worstRating" content="1"> <meta itemprop="reviewCount" content="1"> <meta itemprop="ratingValue" content="4.0"> <i class="spr-icon spr-icon-star"></i><i class="spr-icon spr-icon-star"></i><i class="spr-icon spr-icon-star"></i><i class="spr-icon spr-icon-star"></i><i class="spr-icon spr-icon-star-empty"></i></span>
               </div>
            </div>
         </div>
         <div class="g-layout-1-2 flex-end">
            <div class="item option">
               <div class="custom-select">
                  <select class="option-item single-option-selector" data-option="option1" id="ProductSelect-product-template-option-0">
                     <option value="9776987177003" selected="">30</option>
                     <option value="9776987209771">32</option>
                     <option value="9776987242539">34</option>
                  </select>
                  <div class="select-selected">30</div>
                  <div class="select-items select-hide">
                     <div>30</div>
                     <div>32</div>
                     <div>34</div>
                  </div>
               </div>
               <div class="no-margin-seperator"></div>
               <div class="custom-select">
                  <select class="option-item single-option-selector" data-option="option2" id="ProductSelect-product-template-option-1">
                     <option value="Indigo">Indigo</option>
                  </select>
                  <div class="select-selected">Indigo</div>
                  <div class="select-items select-hide">
                     <div>Indigo</div>
                  </div>
               </div>
            </div>
            <div class="no-margin-seperator"></div>
            <div class="item quantity">
               <div class="qty_action g-sub">-</div>
               <input type="text" value="1">
               <div class="qty_action g-add">+</div>
            </div>
            <div class="item bar-action">
               <button class="action g-stickybar-buynow" type="submit" data-effect-hover="slide" style="font-size: 11px; width: 230px; height: 70px; font-weight: bold; text-align: center; border-radius: 0px; color: rgb(255, 255, 255); background-color: rgb(17, 17, 17); border-width: 0px; border-color: rgb(0, 0, 0);" onmouseleave="this.style.color='rgb(255, 255, 255)';this.style.backgroundColor='rgb(17, 17, 17)';this.style.borderColor='rgb(0, 0, 0)';" onmouseenter="this.style.color='rgb(255, 255, 255)';this.style.backgroundColor='rgb(17, 17, 17)';this.style.borderColor='rgb(0, 0, 0)';">BUY NOW</button>
            </div>
         </div>
      </div>
   </div>
   <div class="g-stickybar bar-stick-4" data-template="stick-4" data-action="goto_checkout" data-position="alwayshow" data-display="alwayshow" style="height: 70px; top: 0px; bottom: unset; background-color: rgb(242, 108, 79);" onmouseleave="this.style.backgroundColor='rgb(242, 108, 79)';" onmouseenter="" data-font="News_Cycle">
      <div class="wrapper">
         <div class="item thumb">
            <img src="//cdn.shopify.com/s/files/1/2949/0188/products/2015-04-03_Jake_Look_08_32020_18028.jpg?v=1517202413" class="">
         </div>
         <div class="item title">
            <div class="g-left">
               <div class="product-title">
                  <div class="g-stickybar-title" style="color: rgb(255, 255, 255); font-size: 16px;" onmouseleave="this.style.color='rgb(255, 255, 255)';">5 Pocket Jean - 30 / Indigo</div>
                  <span class="g-rating"><meta itemprop="bestRating" content="5"> <meta itemprop="worstRating" content="1"> <meta itemprop="reviewCount" content="1"> <meta itemprop="ratingValue" content="4.0"> <i class="spr-icon spr-icon-star"></i><i class="spr-icon spr-icon-star"></i><i class="spr-icon spr-icon-star"></i><i class="spr-icon spr-icon-star"></i><i class="spr-icon spr-icon-star-empty"></i></span>
               </div>
            </div>
            <div class="no-margin-seperator"></div>
            <div class="g-right">
               <div class="g-price">
                  <span class="g-compare money">
                  <span class="money_character">$</span>
                  <span class="price_compare">404.6</span>
                  </span>
                  <span class="regular money">
                  <span class="money_character">$</span>
                  <span class="price_regular">304.6</span>
                  </span>
               </div>
            </div>
         </div>
         <div class="item option">
            <div class="custom-select">
               <select class="option-item single-option-selector" data-option="option1" id="ProductSelect-product-template-option-0">
                  <option value="9776987177003" selected="">30</option>
                  <option value="9776987209771">32</option>
                  <option value="9776987242539">34</option>
               </select>
               <div class="select-selected">30</div>
               <div class="select-items select-hide">
                  <div>30</div>
                  <div>32</div>
                  <div>34</div>
               </div>
            </div>
            <div class="custom-select">
               <select class="option-item single-option-selector" data-option="option2" id="ProductSelect-product-template-option-1">
                  <option value="Indigo">Indigo</option>
               </select>
               <div class="select-selected">Indigo</div>
               <div class="select-items select-hide">
                  <div>Indigo</div>
               </div>
            </div>
         </div>
         <div class="item quantity">
            <div class="qty_action g-sub">-</div>
            <input type="text" value="1">
            <div class="qty_action g-add">+</div>
         </div>
         <div class="item bar-action">
            <button class="action g-stickybar-buynow" type="submit" data-effect-hover="none" style="font-size: 11px; width: 230px; height: 70px; font-weight: bold; text-align: center; border-radius: 0px; color: rgb(255, 255, 255); background-color: rgb(0, 0, 0); border-width: 0px; border-color: rgb(0, 0, 0);" onmouseleave="this.style.color='rgb(255, 255, 255)';this.style.backgroundColor='rgb(0, 0, 0)';this.style.borderColor='rgb(0, 0, 0)';" onmouseenter="this.style.color='rgb(255, 255, 255)';this.style.backgroundColor='rgb(0, 0, 0)';this.style.borderColor='rgb(0, 0, 0)';">BUY NOW</button>
         </div>
      </div>
   </div>
   <div class="g-stickybar bar-stick-5" data-template="stick-5" data-action="goto_checkout" data-position="position_top" data-display="alwayshow" style="height: 70px; top: 0px; bottom: unset; background-color: rgb(255, 255, 255);" onmouseleave="this.style.backgroundColor='rgb(255, 255, 255)';" onmouseenter="" data-font="Roboto">
      <div class="wrapper">
         <div class="item thumb">
            <img src="//cdn.shopify.com/s/files/1/2949/0188/products/2015-04-03_Jake_Look_08_32020_18028.jpg?v=1517202413" class="">
         </div>
         <div class="item title">
            <div class="g-left">
               <div class="product-title">
                  <div class="g-stickybar-title" style="color:rgb(0, 0, 0)" onmouseleave="this.style.color='rgb(0, 0, 0)';">5 Pocket Jean - 30 / Indigo</div>
                  <span class="g-rating"><meta itemprop="bestRating" content="5"> <meta itemprop="worstRating" content="1"> <meta itemprop="reviewCount" content="1"> <meta itemprop="ratingValue" content="4.0"> <i class="spr-icon spr-icon-star"></i><i class="spr-icon spr-icon-star"></i><i class="spr-icon spr-icon-star"></i><i class="spr-icon spr-icon-star"></i><i class="spr-icon spr-icon-star-empty"></i></span>
               </div>
            </div>
         </div>
         <div class="no-margin-seperator"></div>
         <div class="item option">
            <div class="custom-select">
               <select class="option-item single-option-selector" data-option="option1" id="ProductSelect-product-template-option-0">
                  <option value="9776987177003" selected="">30</option>
                  <option value="9776987209771">32</option>
                  <option value="9776987242539">34</option>
               </select>
            </div>
            <div class="custom-select">
               <select class="option-item single-option-selector" data-option="option2" id="ProductSelect-product-template-option-1">
                  <option value="Indigo">Indigo</option>
               </select>
            </div>
         </div>
         <div class="item quantity">
            <div class="qty_action g-sub">-</div>
            <input type="text" value="1">
            <div class="qty_action g-add">+</div>
         </div>
         <div class="item g-price">
            <span class="g-compare money">
            <span class="money_character">$</span>
            <span class="price_compare">404.6</span>
            </span>
            <span class="regular money">
            <span class="money_character">$</span>
            <span class="price_regular">304.6</span>
            </span>
         </div>
         <div class="item bar-action">
            <button class="action g-stickybar-buynow" type="submit" data-effect-hover="none" style="font-size: 11px; width: 130px; height: 35px; font-weight: bold; font-style: initial; text-decoration: none; text-align: center; border-radius: 15px; color: rgb(255, 255, 255); background-color: rgb(242, 108, 79); " onmouseleave="this.style.color='#FFF';this.style.backgroundColor='rgb(242, 108, 79)';this.style.borderColor='#FFF';" onmouseenter="this.style.color='#FFF';this.style.backgroundColor='rgb(242, 108, 79)';this.style.borderColor='#FFF';">BUY NOW</button>
         </div>
      </div>
   </div>
   <div class="g-stickybar bar-stick-6" data-template="stick-6" data-action="goto_checkout" data-position="alwayshow" data-display="alwayshow" style="height: 70px; top: 0px; bottom: unset; background-color: rgb(255, 255, 255);" onmouseleave="this.style.backgroundColor='rgb(255, 255, 255)';" onmouseenter="" data-font="News_Cycle">
      <div class="wrapper">
         <div class="item thumb">
            <img src="//cdn.shopify.com/s/files/1/2949/0188/products/2015-04-03_Jake_Look_08_32020_18028.jpg?v=1517202413" class="">
         </div>
         <div class="no-margin-seperator fluid-height"></div>
         <div class="item title">
            <div class="product-title">
               <div class="g-stickybar-title" style="color: rgb(0, 0, 0); font-size: 16px;" onmouseleave="this.style.color='rgb(0, 0, 0)';">5 Pocket Jean - 30 / Indigo</div>
               <span class="g-rating"><meta itemprop="bestRating" content="5"> <meta itemprop="worstRating" content="1"> <meta itemprop="reviewCount" content="1"> <meta itemprop="ratingValue" content="4.0"> <i class="spr-icon spr-icon-star"></i><i class="spr-icon spr-icon-star"></i><i class="spr-icon spr-icon-star"></i><i class="spr-icon spr-icon-star"></i><i class="spr-icon spr-icon-star-empty"></i></span>
            </div>
         </div>
         <div class="item option">
            <div class="custom-select">
               <select class="option-item single-option-selector" data-option="option1" id="ProductSelect-product-template-option-0">
                  <option value="9776987177003" selected="">30</option>
                  <option value="9776987209771">32</option>
                  <option value="9776987242539">34</option>
               </select>
               <div class="select-selected">30</div>
               <div class="select-items select-hide">
                  <div>30</div>
                  <div>32</div>
                  <div>34</div>
               </div>
            </div>
            <div class="no-margin-seperator fluid-height"></div>
            <div class="custom-select">
               <select class="option-item single-option-selector" data-option="option2" id="ProductSelect-product-template-option-1">
                  <option value="Indigo">Indigo</option>
               </select>
               <div class="select-selected">Indigo</div>
               <div class="select-items select-hide">
                  <div>Indigo</div>
               </div>
            </div>
         </div>
         <div class="no-margin-seperator fluid-height"></div>
         <div class="item quantity">
            <div class="qty_action g-sub">-</div>
            <input type="text" value="1">
            <div class="qty_action g-add">+</div>
         </div>
         <div class="no-margin-seperator fluid-height"></div>
         <div class="item g-price">
            <span class="g-compare money">
            <span class="money_character">$</span>
            <span class="price_compare">404.6</span>
            </span>
            <span class="regular money">
            <span class="money_character">$</span>
            <span class="price_regular">304.6</span>
            </span>
         </div>
         <div class="item bar-action">
            <button class="action g-stickybar-buynow" type="submit" data-effect-hover="slide" style="font-size: 11px; width: 145px; height: 70px; font-weight: bold; text-align: center; border-radius: 0px; color: rgb(255, 255, 255); background-color: rgb(166, 124, 82); border-width: 0px; border-color: rgb(255, 255, 255);" onmouseleave="this.style.color='rgb(255, 255, 255)';this.style.backgroundColor='rgb(166, 124, 82)';this.style.borderColor='rgb(255, 255, 255)';" onmouseenter="this.style.color='rgb(255, 255, 255)';this.style.backgroundColor='rgb(165, 115, 65)';this.style.borderColor='rgb(255, 255, 255)';">BUY NOW</button>
         </div>
      </div>
   </div>
   <div class="g-stickybar bar-stick-7" data-template="stick-7" data-action="goto_checkout" data-position="alwayshow" data-display="alwayshow" style="height: 70px; top: 0px; bottom: unset; background-color: rgb(255, 255, 255);" onmouseleave="this.style.backgroundColor='rgb(255, 255, 255)';" onmouseenter="" data-font="News_Cycle">
      <div class="wrapper">
         <div class="item thumb">
            <img src="//cdn.shopify.com/s/files/1/2949/0188/products/2015-04-03_Jake_Look_08_32020_18028.jpg?v=1517202413" class="">
         </div>
         <div class="item title">
            <div class="g-left">
               <div class="product-title">
                  <div class="g-stickybar-title" style="color: rgb(0, 0, 0); font-size: 16px;" onmouseleave="this.style.color='rgb(0, 0, 0)';">5 Pocket Jean - 30 / Indigo</div>
                  <div class="g-price">
                     <span class="g-compare money">
                     <span class="money_character">$</span>
                     <span class="price_compare">404.6</span>
                     </span>
                     <span class="regular money">
                     <span class="money_character">$</span>
                     <span class="price_regular">304.6</span>
                     </span>
                  </div>
               </div>
            </div>
            <div class="no-margin-seperator fluid-height"></div>
            <div class="g-right">
               <span class="g-rating"><meta itemprop="bestRating" content="5"> <meta itemprop="worstRating" content="1"> <meta itemprop="reviewCount" content="1"> <meta itemprop="ratingValue" content="4.0"> <i class="spr-icon spr-icon-star"></i><i class="spr-icon spr-icon-star"></i><i class="spr-icon spr-icon-star"></i><i class="spr-icon spr-icon-star"></i><i class="spr-icon spr-icon-star-empty"></i></span>
            </div>
         </div>
         <div class="item option">
            <div class="custom-select">
               <select class="option-item single-option-selector" data-option="option1" id="ProductSelect-product-template-option-0">
                  <option value="9776987177003" selected="">30</option>
                  <option value="9776987209771">32</option>
                  <option value="9776987242539">34</option>
               </select>
               <div class="select-selected">30</div>
               <div class="select-items select-hide">
                  <div>30</div>
                  <div>32</div>
                  <div>34</div>
               </div>
            </div>
            <div class="no-margin-seperator fluid-height order-2"></div>
            <div class="custom-select">
               <select class="option-item single-option-selector" data-option="option2" id="ProductSelect-product-template-option-1">
                  <option value="Indigo">Indigo</option>
               </select>
               <div class="select-selected">Indigo</div>
               <div class="select-items select-hide">
                  <div>Indigo</div>
               </div>
            </div>
         </div>
         <div class="no-margin-seperator fluid-height order-3"></div>
         <div class="item quantity">
            <div class="qty_action g-sub">-</div>
            <input type="text" value="1">
            <div class="qty_action g-add">+</div>
         </div>
         <div class="item bar-action">
            <button class="action g-stickybar-buynow" type="submit" data-effect-hover="none" style="font-size: 11px; width: 145px; height: 70px; font-weight: bold; text-align: center; border-radius: 0px; color: rgb(255, 255, 255); background-color: rgb(247, 148, 13); border-width: 0px; border-color: rgb(255, 255, 255);" onmouseleave="this.style.color='rgb(255, 255, 255)';this.style.backgroundColor='rgb(247, 148, 13)';this.style.borderColor='rgb(255, 255, 255)';" onmouseenter="this.style.color='rgb(255, 255, 255)';this.style.backgroundColor='rgb(247, 148, 13)';this.style.borderColor='rgb(255, 255, 255)';">BUY NOW</button>
         </div>
      </div>
   </div>
   <div class="g-stickybar bar-stick-custom" data-template="stick-custom"></div>
</div>
<div class="g-popup-wrapper" style="">
   <div class="import-font"><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin:400"></div>
   <div id="costumModal-mini" class="modal g-popup-parent" data-template="mini" data-easein="slideLeftBigIn" tabindex="-1" role="dialog" aria-labelledby="costumModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog" style="opacity: 1; display: block; transform-origin: 50% 50% 0px; transform: translateY(0px);">
         <div class="modal-content g-popup" data-font="News_Cycle" style="width: 600px; padding: 30px; border-width: 0px; border-radius: 0px; background-color: rgb(255, 255, 255); border-color: rgb(255, 255, 255);" onmouseleave="this.style.backgroundColor='rgb(255, 255, 255)';this.style.borderColor='rgb(255, 255, 255)';">
            <div class="headerCartContent rowFlex flexAlignCenter">
               <a class="closeCartModal" href="javascript:void(0)"></a>
               <div class="cartProductImage">
                  <img class="img-responsive" alt="Velatheme" src="https://app.globosoftware.net/straightcheckout/public/images/demo.jpg">
               </div>
               <div class="cartProductContent">
                  <div class="productTitle g-product-title" style="font-size: 21px;text-align: center;color: rgb(0, 0, 0);" onmouseleave="this.style.color='rgb(0, 0, 0)';">5 Pocket Jean - 30 / Indigo</div>
                  <div class="alertCartModal g-success-alert" style="font-size: 14px;text-align: center;color: #06be1c;" onmouseleave="this.style.color='rgb(6, 190, 28)';">Has been added to the cart!</div>
                  <div class="cartModalButtons">
                     <button id="continue_shopping" class="btn btnVelaCart btnViewCart g-continue" style="display: none; color: rgb(0, 0, 0); background-color: rgba(0, 0, 0, 0); border-color: rgb(255, 255, 255); width: 320px; height: 43px; font-size: 14px; border-width: 0px; border-radius: 0px;" onmouseleave="this.style.color='rgb(0, 0, 0)';this.style.backgroundColor='rgba(0, 0, 0, 0)';this.style.borderColor='rgb(255, 255, 255)';" onmouseenter="this.style.color='rgb(0, 0, 0)';this.style.backgroundColor='rgba(0, 0, 0, 0)';this.style.borderColor='rgb(255, 255, 255)';">Continue Shopping</button>
                     <button id="tocart" class="btn btnVelaCart btnViewCart g-tocartbtn" style="color: rgb(0, 0, 0); background-color: rgba(0, 0, 0, 0); border-color: rgb(255, 255, 255); width: 320px; height: 43px; font-size: 14px; border-width: 0px; border-radius: 0px;" onmouseleave="this.style.color='rgb(0, 0, 0)';this.style.backgroundColor='rgba(0, 0, 0, 0)';this.style.borderColor='rgb(255, 255, 255)';" onmouseenter="this.style.color='rgb(0, 0, 0)';this.style.backgroundColor='rgba(0, 0, 0, 0)';this.style.borderColor='rgb(255, 255, 255)';">View Cart</button>
                     <button id="checkout" class="btn btnVelaCart btnCheckout g-checkout" style="color: rgb(255, 255, 255); background-color: rgb(254, 82, 82); border-color: rgb(255, 255, 255); width: 320px; height: 41px; font-size: 14px; border-width: 0px; border-radius: 0px;" onmouseleave="this.style.color='rgb(255, 255, 255)';this.style.backgroundColor='rgb(254, 82, 82)';this.style.borderColor='rgb(255, 255, 255)';" onmouseenter="this.style.color='rgb(255, 255, 255)';this.style.backgroundColor='rgb(254, 82, 82)';this.style.borderColor='rgb(255, 255, 255)';">PROCEED TO CHECKOUT</button>
                  </div>
               </div>
               <h3 class="g-empty" style="display: none;">Your cart is currently empty!!!</h3>
            </div>
         </div>
      </div>
   </div>
   <div id="costumModal-2-column" class="modal g-popup-parent" data-template="2-column" data-easein="bounceDownIn" tabindex="-1" role="dialog" aria-labelledby="costumModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog" style="opacity: 1; display: block; transform-origin: 50% 50% 0px; transform: translateY(0px);">
         <div class="modal-content g-popup" data-font="News_Cycle" style="padding: 30px; width: 850px; background-color: rgb(255, 255, 255); border-width: 0px; border-color: rgb(255, 255, 255); border-radius: 5px;" onmouseleave="">
            <div class="headerCartContent rowFlex flexAlignCenter">
               <a class="closeCartModal" href="javascript:void(0)"></a>
               <div class="clearfix">
                  <div class="layer_cart_product">
                     <span class="title g-success-alert" style="font-size: 18px; font-weight: bold; line-height: 24px; text-align: left; color: rgb(40, 167, 69);" onmouseleave="">Product successfully added to your shopping cart</span>
                     <div class="product-image-container layer_cart_img">
                        <img class="layer_cart_img img-responsive" src="https://app.globosoftware.net/straightcheckout/public/images/demo.jpg" alt="" title="">
                     </div>
                     <div class="layer_cart_product_info g-additional" style="font-size: 14px; text-align: left; color: rgb(0, 0, 0);" onmouseleave="">
                        <span id="layer_cart_product_title" class="product-name g-product-title" style="font-size: 16px; font-weight: bold; text-align: left; color: rgb(0, 0, 0);" onmouseleave="">5 Pocket Jean</span>
                        <span id="layer_cart_product_attributes" class="g-product-option">30 / Indigo</span>
                        <div class="g-product-quantity">
                           <strong class="g-additional-quantity-text">Quantity</strong>
                           <span class="layer_cart_product_quantity">1</span>
                        </div>
                        <div class="g-product-subtotal">
                           <strong class="g-additional-subtotal-text">Subtotal</strong>
                           <span class="layer_cart_product_subtotal">$404.6</span>
                        </div>
                     </div>
                  </div>
                  <div class="layer_cart_cart">
                     <span class="title">
                     <span class="ajax_cart_product_txt_s g-item-count-text" onmouseleave="" style="font-size: 18px; font-weight: bold; text-align: left; color: rgb(0, 0, 0);">There are {number} tems in your cart.</span>
                     </span>
                     <div class="layer_cart_row g-product-total" onmouseleave="" style="font-size: 14px; text-align: left; color: rgb(0, 0, 0);">
                        <strong class="dark g-additional-total-text"> Total </strong>
                        <span class="layer_cart_total_price">$404.6</span>
                     </div>
                     <div class="layer_cart_row">
                        <div class="g-cart-note" onmouseleave="" style="font-size: 14px; font-weight: bold; text-align: left; color: rgb(0, 0, 0);">Add a note for admin</div>
                        <textarea class="note g-cart-note-textarea" onmouseleave="" style="font-size: 14px; font-weight: bold; color: rgb(0, 0, 0);"></textarea>
                     </div>
                     <div class="button-container">
                        <span id="continue_shopping" class="continue btn btn-default button g-continue" style="padding: 10px 20px; border: 0px rgb(0, 0, 0); background: rgb(0, 0, 0); font-size: 12px; color: rgb(255, 255, 255); width: 170px; height: 43px; border-radius: 0px;" onmouseenter="this.style.color='rgb(228, 228, 228)';this.style.backgroundColor='rgb(0, 0, 0)';this.style.borderColor='rgb(0, 0, 0)';" onmouseleave="this.style.color='rgb(255, 255, 255)';this.style.backgroundColor='rgb(0, 0, 0)';this.style.borderColor='rgb(0, 0, 0)';" title="Continue shopping">CONTINUE SHOPPING</span>
                        <button id="tocart" class="checkout btn btn-default button g-tocartbtn" style="padding: 10px 20px; border: 0px rgb(0, 0, 0); background: rgb(0, 0, 0); font-size: 12px; color: rgb(255, 255, 255); width: 160px; height: 41px; border-radius: 0px; display: none;" onmouseenter="this.style.color='rgb(224, 224, 224)';this.style.backgroundColor='rgb(0, 0, 0)';this.style.borderColor='rgb(0, 0, 0)';" onmouseleave="this.style.color='rgb(255, 255, 255)';this.style.backgroundColor='rgb(0, 0, 0)';this.style.borderColor='rgb(0, 0, 0)';" title="Proceed to checkout" rel="nofollow">GO TO CART</button>
                        <button id="checkout" class="checkout btn btn-default button g-checkout" style="padding: 10px 20px; border: 0px rgb(0, 0, 0); background: rgb(0, 0, 0); font-size: 12px; color: rgb(255, 255, 255); width: 169px; height: 43px; border-radius: 0px;" onmouseenter="this.style.color='rgb(228, 228, 228)';this.style.backgroundColor='rgb(0, 0, 0)';this.style.borderColor='rgb(0, 0, 0)';" onmouseleave="this.style.color='rgb(255, 255, 255)';this.style.backgroundColor='rgb(0, 0, 0)';this.style.borderColor='rgb(0, 0, 0)';" title="Proceed to checkout" rel="nofollow">PROCEED TO CHECKOUT</button>
                     </div>
                  </div>
               </div>
               <h3 class="g-empty" style="display: none;">Your cart is currently empty!!!</h3>
            </div>
         </div>
      </div>
   </div>
   <div id="costumModal-normal" class="modal g-popup-parent" data-template="normal" data-easein="bounceUpIn" tabindex="-1" role="dialog" aria-labelledby="costumModalLabel" aria-hidden="true" style="display: block;" selected="selected">
      <div class="modal-dialog" style="opacity: 1; display: block; transform-origin: 50% 50% 0px; transform: translateY(0px);">
         <div class="modal-content g-popup" style="width: 600px; padding: 20px; border-width: 0px; border-radius: 0px; background-color: rgb(255, 255, 255); border-color: rgb(255, 255, 255);" onmouseleave="this.style.backgroundColor='rgb(255, 255, 255)';this.style.borderColor='rgb(255, 255, 255)';" data-font="Cabin">
            <a class="closeCartModal" href="javascript:void(0)"></a>
            <div class="gocc_popup">
               <span id="close_popup"></span>
               <h1 class="g-empty" style="display:none;font-weight:bold;text-align:center">Your cart is currently empty!!!</h1>
               <h3 class="g-title" style="font-size: 27px; text-align: center; color: rgb(44, 44, 44);" onmouseleave="this.style.color='rgb(44, 44, 44)';">Shopping Cart</h3>
               <div class="g-des" style="font-size: 14px; text-align: center; color: rgb(44, 44, 44);" onmouseleave="this.style.color='rgb(44, 44, 44)';">Complete your purchase by clicking Checkout button.</div>
               <table class="popup_list_custom scroll" cellspacing="0">
                  <thead class="g-product-heading" style="font-size: 14px; text-align: center; color: rgb(0, 0, 0); background-color: rgba(0, 0, 0, 0);" onmouseleave="this.style.color='rgb(0, 0, 0)';this.style.backgroundColor='rgba(0, 0, 0, 0)';">
                     <tr>
                        <td class="th_photo" style="text-align:center;">Photo</td>
                        <td class="th_name" style="text-align:center;">Name</td>
                        <td class="th_price" style="text-align:center;">Price</td>
                        <td class="th_quantity" style="text-align:center;">Quantity</td>
                        <td class="th_total" style="text-align:center;">Total</td>
                        <td class="th_remove" style="text-align:center;"></td>
                     </tr>
                  </thead>
                  <tbody class="g-product-body" style="font-size: 14px; text-align: left; color: rgb(0, 0, 0); background-color: rgba(0, 0, 0, 0);" onmouseleave="this.style.color='rgb(0, 0, 0)';this.style.backgroundColor='rgba(0, 0, 0, 0)';"><tr><td class="thumb" style="text-align: left;"><img src="https://cdn.shopify.com/s/files/1/2949/0188/products/2015-04-03_Jake_Look_08_32020_18028.jpg?v=1517202413" alt="5 Pocket Jean - 30 / Indigo"></td> <td class="name" style="text-align: left;">5 Pocket Jean - 30 / Indigo</td> <td class="price" style="text-align: left;">$404.6</td> <td class="quantity" style="text-align: left;">1</td> <td class="total" data-total="65" style="text-align: left;">$404.6</td><td class="td_remove" style="text-align: left;"><div><a data-id="9776987177003" class="remove_item">x</a></div></td></tr></tbody>
               </table>
               <div class="text-right subtotal">Subtotal:
                  <span class="money">$404.60</span>
               </div>
               <div class="social">
                  <div class="g-fb-btn" style="width: 70px; height: 20px; border-width: 0px; border-radius: 0px; background-color: rgba(255, 255, 255, 0); border-color: rgba(255, 255, 255, 0);" onmouseleave="this.style.backgroundColor='rgba(255, 255, 255, 0)';this.style.borderColor='rgba(255, 255, 255, 0)';" onmouseenter="this.style.backgroundColor='rgba(255, 255, 255, 0)';this.style.borderColor='rgba(255, 255, 255, 0)';">
                     <i data-icon="fa-facebook-official" style="font-size: 14px; color: rgb(41, 72, 125);" onmouseleave="this.style.color='rgb(41, 72, 125)';" onmouseenter="this.style.color='rgb(4, 38, 94)';" class="fa g-fb-icon fa-facebook-official" aria-hidden="true"></i>
                     <a class="social_sharing_link g-fb-text" data-share="fb" style="font-size: 14px; color: rgb(44, 44, 44);" onmouseleave="this.style.color='rgb(44, 44, 44)';" onmouseenter="this.style.color='rgb(44, 44, 44)';">                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        Share                                                                                                                                                                                                                        </a>
                  </div>
                  <div class="g-tw-btn" style="width: 70px; height: 20px; border-width: 0px; border-radius: 0px; background-color: rgba(255, 255, 255, 0); border-color: rgba(255, 255, 255, 0);" onmouseleave="this.style.backgroundColor='rgba(255, 255, 255, 0)';this.style.borderColor='rgba(255, 255, 255, 0)';" onmouseenter="this.style.backgroundColor='rgba(255, 255, 255, 0)';this.style.borderColor='rgba(255, 255, 255, 0)';">
                     <i data-icon="fa-twitter" style="font-size: 16px; color: rgb(29, 161, 242);" onmouseleave="this.style.color='rgb(29, 161, 242)';" onmouseenter="this.style.color='rgb(0, 94, 152)';" class="fa g-tw-icon fa-twitter" aria-hidden="true"></i>
                     <a class="social_sharing_link g-tw-text" data-share="tw" style="font-size: 14px; color: rgb(44, 44, 44);" onmouseleave="this.style.color='rgb(44, 44, 44)';" onmouseenter="this.style.color='rgb(44, 44, 44)';">                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        Tweet                                                                                                                                                                                                                        </a>
                  </div>
                  <div class="g-pi-btn" style="width: 70px; height: 20px; border-width: 0px; border-radius: 0px; background-color: rgba(255, 255, 255, 0); border-color: rgba(255, 255, 255, 0);" onmouseleave="this.style.backgroundColor='rgba(255, 255, 255, 0)';this.style.borderColor='rgba(255, 255, 255, 0)';" onmouseenter="this.style.backgroundColor='rgba(255, 255, 255, 0)';this.style.borderColor='rgba(255, 255, 255, 0)';">
                     <i data-icon="fa-pinterest" style="font-size: 16px; color: rgb(189, 8, 28);" onmouseleave="this.style.color='rgb(189, 8, 28)';" onmouseenter="this.style.color='rgb(255, 0, 28)';" class="fa g-pi-icon fa-pinterest" aria-hidden="true"></i>
                     <a class="social_sharing_link g-pi-text" data-share="pi" style="font-size: 14px; color: rgb(44, 44, 44);" onmouseleave="this.style.color='rgb(44, 44, 44)';" onmouseenter="this.style.color='rgb(44, 44, 44)';">                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        Pin it                                                                                                                                                                                                                        </a>
                  </div>
               </div>
               <div class="footer" style="text-align: initial;">
                  <button id="continue_shopping" class="btn g-continue" data-effect-hover="raise" onmouseleave="this.style.color='rgb(255, 255, 255)';this.style.backgroundColor='rgb(136, 136, 136)';this.style.borderColor='rgb(0, 0, 0)';" onmouseenter="this.style.color='rgb(255, 255, 255)';this.style.backgroundColor='rgb(151, 151, 151)';this.style.borderColor='rgb(0, 0, 0)';" style="font-size: 13px; text-align: center; border-width: 0px; border-color: rgb(0, 0, 0); border-radius: 5px; width: 150px; height: 42px; background-color: rgb(136, 136, 136); color: rgb(255, 255, 255);">Continue Shopping</button>
                  <button id="checkout" class="btn g-checkout" data-effect-hover="raise" onmouseleave="this.style.color='rgb(255, 255, 255)';this.style.backgroundColor='rgb(104, 28, 3)';this.style.borderColor='rgb(0, 0, 0)';" onmouseenter="this.style.color='rgb(255, 255, 255)';this.style.backgroundColor='rgb(5, 1, 0)';this.style.borderColor='rgb(0, 0, 0)';" style="font-size: 13px; text-align: center; border-width: 0px; border-color: rgb(0, 0, 0); border-radius: 5px; width: 100px; height: 42px; background-color: rgb(104, 28, 3); color: rgb(255, 255, 255);">Checkout</button>
                  <button id="tocart" class="btn g-tocartbtn" data-effect-hover="raise" onmouseleave="this.style.color='rgb(255, 255, 255)';this.style.backgroundColor='rgb(249, 99, 50)';this.style.borderColor='rgb(0, 0, 0)';" onmouseenter="this.style.color='rgb(255, 255, 255)';this.style.backgroundColor='rgb(251, 78, 21)';this.style.borderColor='rgb(0, 0, 0)';" style="font-size: 13px; text-align: center; border-width: 0px; border-color: rgb(0, 0, 0); border-radius: 5px; width: 100px; height: 42px; background-color: rgb(249, 99, 50); color: rgb(255, 255, 255); display: none;">Cart</button>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div style="display:none">
   <div class="json-popup" data-key="mini">{"#popup-showup-effect":"slideLeftBigIn","#popup-width":"600px","#popup-font-family":"News_Cycle","#popup-padding":"30px","#popup-background-color":"rgb(255, 255, 255)","#popup-border-width":"0px","#popup-border-color":"rgb(255, 255, 255)","#popup-border-radius":"0px","#product-title-display":"block","#product-title-font-size":"21px","#product-title-font-weight":"400","#product-title-font-style":"normal","#product-title-text-decoration":"none solid rgb(0, 0, 0)","#product-title-text-align":"center","#product-title-color":"rgb(0, 0, 0)","#success-alert-text":"Has been added to the cart!","#success-alert-display":"block","#success-alert-font-size":"14px","#success-alert-font-weight":"400","#success-alert-font-style":"normal","#success-alert-text-decoration":"none solid rgb(6, 190, 28)","#success-alert-text-align":"center","#success-alert-color":"rgb(6, 190, 28)","#continue-text":"Continue Shopping","#continue-display":"none","#continue-width":"320px","#continue-height":"43px","#continue-font-size":"14px","#continue-font-weight":"400","#continue-font-style":"normal","#continue-text-decoration":"none solid rgb(0, 0, 0)","#continue-color":"rgb(0, 0, 0)","#continue-color-hover":"rgb(0, 0, 0)","#continue-background-color":"rgba(0, 0, 0, 0)","#continue-background-color-hover":"rgba(0, 0, 0, 0)","#continue-border-width":"0px","#continue-border-color":"rgb(255, 255, 255)","#continue-border-color-hover":"rgb(255, 255, 255)","#continue-border-radius":"0px","#checkout-text":"PROCEED TO CHECKOUT","#checkout-display":"block","#checkout-width":"320px","#checkout-height":"41px","#checkout-font-size":"14px","#checkout-font-weight":"400","#checkout-font-style":"normal","#checkout-text-decoration":"none solid rgb(255, 255, 255)","#checkout-color":"rgb(255, 255, 255)","#checkout-color-hover":"rgb(255, 255, 255)","#checkout-background-color":"rgb(254, 82, 82)","#checkout-background-color-hover":"rgb(254, 82, 82)","#checkout-border-width":"0px","#checkout-border-color":"rgb(255, 255, 255)","#checkout-border-color-hover":"rgb(255, 255, 255)","#checkout-border-radius":"0px","#tocartbtn-text":"View Cart","#tocartbtn-display":"block","#tocartbtn-width":"320px","#tocartbtn-height":"43px","#tocartbtn-font-size":"14px","#tocartbtn-font-weight":"400","#tocartbtn-font-style":"normal","#tocartbtn-text-decoration":"none solid rgb(0, 0, 0)","#tocartbtn-color":"rgb(0, 0, 0)","#tocartbtn-color-hover":"rgb(0, 0, 0)","#tocartbtn-background-color":"rgba(0, 0, 0, 0)","#tocartbtn-background-color-hover":"rgba(0, 0, 0, 0)","#tocartbtn-border-width":"0px","#tocartbtn-border-color":"rgb(255, 255, 255)","#tocartbtn-border-color-hover":"rgb(255, 255, 255)","#tocartbtn-border-radius":"0px"}</div>
   <div class="json-popup" data-key="normal">{"#popup-showup-effect":"bounceUpIn","#popup-width":"600px","#popup-font-family":"Cabin","#popup-padding":"20px","#popup-background-color":"rgb(255, 255, 255)","#popup-border-width":"0px","#popup-border-color":"rgb(255, 255, 255)","#popup-border-radius":"0px","#title-text":"Shopping Cart","#title-font-size":"27px","#title-font-weight":"400","#title-font-style":"normal","#title-text-decoration":"none solid rgb(44, 44, 44)","#title-text-align":"center","#title-color":"rgb(44, 44, 44)","#des-text":"Complete your purchase by clicking Checkout button.","#des-display":"block","#des-font-size":"14px","#des-font-weight":"400","#des-font-style":"normal","#des-text-decoration":"none solid rgb(44, 44, 44)","#des-text-align":"center","#des-color":"rgb(44, 44, 44)","#product-heading-photo-text":"Photo","#product-heading-name-text":"Name","#product-heading-price-text":"Price","#product-heading-quantity-text":"Quantity","#product-heading-total-text":"Total","#product-heading-font-size":"14px","#product-heading-font-weight":"400","#product-heading-font-style":"normal","#product-heading-text-decoration":"none solid rgb(0, 0, 0)","#product-heading-text-align":"center","#product-heading-color":"rgb(0, 0, 0)","#product-heading-background-color":"rgba(0, 0, 0, 0)","#product-body-font-size":"14px","#product-body-font-weight":"400","#product-body-font-style":"normal","#product-body-text-decoration":"none solid rgb(0, 0, 0)","#product-body-text-align":"left","#product-body-color":"rgb(0, 0, 0)","#product-body-background-color":"rgba(0, 0, 0, 0)","#fbbtn-text":"\n                     \n                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             Share                                                                                                                                                                                                                        \n                  ","#fbbtn-display":"block","#fbbtn-font-size":"14px","#fbbtn-font-weight":"400","#fbbtn-font-style":"normal","#fbbtn-text-decoration":"none solid rgb(33, 43, 54)","#fbbtn-color":"rgb(44, 44, 44)","#fbbtn-color-hover":"rgb(44, 44, 44)","#fbbtn-width":"70px","#fbbtn-height":"20px","#fbbtn-background-color":"rgba(255, 255, 255, 0)","#fbbtn-background-color-hover":"rgba(255, 255, 255, 0)","#fbbtn-border-width":"0px","#fbbtn-border-color":"rgba(255, 255, 255, 0)","#fbbtn-border-color-hover":"rgba(255, 255, 255, 0)","#fbbtn-border-radius":"0px","#fbbtn-icon-icon":"fa-facebook-official","#fbbtn-icon-color":"rgb(41, 72, 125)","#fbbtn-icon-color-hover":"rgb(4, 38, 94)","#fbbtn-icon-font-size":"14px","#twbtn-text":"\n                     \n                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             Tweet                                                                                                                                                                                                                        \n                  ","#twbtn-display":"block","#twbtn-font-size":"14px","#twbtn-font-weight":"400","#twbtn-font-style":"normal","#twbtn-text-decoration":"none solid rgb(33, 43, 54)","#twbtn-color":"rgb(44, 44, 44)","#twbtn-color-hover":"rgb(44, 44, 44)","#twbtn-width":"70px","#twbtn-height":"20px","#twbtn-background-color":"rgba(255, 255, 255, 0)","#twbtn-background-color-hover":"rgba(255, 255, 255, 0)","#twbtn-border-width":"0px","#twbtn-border-color":"rgba(255, 255, 255, 0)","#twbtn-border-color-hover":"rgba(255, 255, 255, 0)","#twbtn-border-radius":"0px","#twbtn-icon-icon":"fa-twitter","#twbtn-icon-color":"rgb(29, 161, 242)","#twbtn-icon-color-hover":"rgb(0, 94, 152)","#twbtn-icon-font-size":"16px","#pibtn-text":"\n                     \n                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             Pin it                                                                                                                                                                                                                        \n                  ","#pibtn-display":"block","#pibtn-font-size":"14px","#pibtn-font-weight":"400","#pibtn-font-style":"normal","#pibtn-text-decoration":"none solid rgb(33, 43, 54)","#pibtn-color":"rgb(44, 44, 44)","#pibtn-color-hover":"rgb(44, 44, 44)","#pibtn-width":"70px","#pibtn-height":"20px","#pibtn-background-color":"rgba(255, 255, 255, 0)","#pibtn-background-color-hover":"rgba(255, 255, 255, 0)","#pibtn-border-width":"0px","#pibtn-border-color":"rgba(255, 255, 255, 0)","#pibtn-border-color-hover":"rgba(255, 255, 255, 0)","#pibtn-border-radius":"0px","#pibtn-icon-icon":"fa-pinterest","#pibtn-icon-color":"rgb(189, 8, 28)","#pibtn-icon-color-hover":"rgb(255, 0, 28)","#pibtn-icon-font-size":"16px","#continue-text":"Continue Shopping","#continue-display":"inline-block","#continue-width":"150px","#continue-height":"42px","#continue-effect-hover":"raise","#continue-font-size":"13px","#continue-font-weight":"400","#continue-font-style":"normal","#continue-text-decoration":"none solid rgb(255, 255, 255)","#continue-color":"rgb(255, 255, 255)","#continue-color-hover":"rgb(255, 255, 255)","#continue-background-color":"rgb(136, 136, 136)","#continue-background-color-hover":"rgb(151, 151, 151)","#continue-border-width":"0px","#continue-border-color":"rgb(0, 0, 0)","#continue-border-color-hover":"rgb(0, 0, 0)","#continue-border-radius":"5px","#checkout-text":"Checkout","#checkout-display":"block","#checkout-width":"100px","#checkout-height":"42px","#checkout-effect-hover":"raise","#checkout-font-size":"13px","#checkout-font-weight":"400","#checkout-font-style":"normal","#checkout-text-decoration":"none solid rgb(255, 255, 255)","#checkout-color":"rgb(255, 255, 255)","#checkout-color-hover":"rgb(255, 255, 255)","#checkout-background-color":"rgb(104, 28, 3)","#checkout-background-color-hover":"rgb(5, 1, 0)","#checkout-border-width":"0px","#checkout-border-color":"rgb(0, 0, 0)","#checkout-border-color-hover":"rgb(0, 0, 0)","#checkout-border-radius":"5px","#tocartbtn-text":"Cart","#tocartbtn-display":"none","#tocartbtn-width":"100px","#tocartbtn-height":"42px","#tocartbtn-effect-hover":"raise","#tocartbtn-font-size":"13px","#tocartbtn-font-weight":"400","#tocartbtn-font-style":"normal","#tocartbtn-text-decoration":"none solid rgb(255, 255, 255)","#tocartbtn-color":"rgb(255, 255, 255)","#tocartbtn-color-hover":"rgb(255, 255, 255)","#tocartbtn-background-color":"rgb(249, 99, 50)","#tocartbtn-background-color-hover":"rgb(251, 78, 21)","#tocartbtn-border-width":"0px","#tocartbtn-border-color":"rgb(0, 0, 0)","#tocartbtn-border-color-hover":"rgb(0, 0, 0)","#tocartbtn-border-radius":"5px"}</div>
   <div class="json-popup" data-key="2-column">{"#popup-showup-effect":"bounceDownIn","#popup-width":"850px","#popup-font-family":"News_Cycle","#popup-padding":"30px","#popup-background-color":"rgb(255, 255, 255)","#popup-border-width":"0px","#popup-border-color":"rgb(255, 255, 255)","#popup-border-radius":"5px","#product-title-display":"inline","#product-title-font-size":"16px","#product-title-font-weight":"700","#product-title-font-style":"normal","#product-title-text-decoration":"none solid rgb(0, 0, 0)","#product-title-text-align":"left","#product-title-color":"rgb(0, 0, 0)","#success-alert-text":"Product successfully added to your shopping cart","#success-alert-display":"block","#success-alert-font-size":"18px","#success-alert-font-weight":"700","#success-alert-font-style":"normal","#success-alert-text-decoration":"none solid rgb(40, 167, 69)","#success-alert-text-align":"left","#success-alert-color":"rgb(40, 167, 69)","#additional-quantity-text":"Quantity","#additional-subtotal-text":"Subtotal","#additional-total-text":" Total ","#additional-display":"block","#additional-font-size":"14px","#additional-font-weight":"400","#additional-font-style":"normal","#additional-text-decoration":"none solid rgb(0, 0, 0)","#additional-text-align":"left","#additional-color":"rgb(0, 0, 0)","#item-count-text-text":"There are {number} tems in your cart.","#item-count-text-display":"block","#item-count-text-font-size":"18px","#item-count-text-font-weight":"700","#item-count-text-font-style":"normal","#item-count-text-text-decoration":"none solid rgb(0, 0, 0)","#item-count-text-text-align":"left","#item-count-text-color":"rgb(0, 0, 0)","#cart-note-text":"Add a note for admin","#cart-note-display":"block","#cart-note-font-size":"14px","#cart-note-font-weight":"700","#cart-note-font-style":"normal","#cart-note-text-decoration":"none solid rgb(0, 0, 0)","#cart-note-text-align":"left","#cart-note-color":"rgb(0, 0, 0)","#continue-text":"CONTINUE SHOPPING","#continue-display":"inline-flex","#continue-width":"170px","#continue-height":"43px","#continue-font-size":"12px","#continue-font-weight":"400","#continue-font-style":"normal","#continue-text-decoration":"none solid rgb(255, 255, 255)","#continue-color":"rgb(255, 255, 255)","#continue-color-hover":"rgb(228, 228, 228)","#continue-background-color":"rgb(0, 0, 0)","#continue-background-color-hover":"rgb(0, 0, 0)","#continue-border-width":"0px","#continue-border-color":"rgb(0, 0, 0)","#continue-border-color-hover":"rgb(0, 0, 0)","#continue-border-radius":"0px","#checkout-text":"PROCEED TO CHECKOUT","#checkout-display":"inline-flex","#checkout-width":"169px","#checkout-height":"43px","#checkout-font-size":"12px","#checkout-font-weight":"400","#checkout-font-style":"normal","#checkout-text-decoration":"none solid rgb(255, 255, 255)","#checkout-color":"rgb(255, 255, 255)","#checkout-color-hover":"rgb(228, 228, 228)","#checkout-background-color":"rgb(0, 0, 0)","#checkout-background-color-hover":"rgb(0, 0, 0)","#checkout-border-width":"0px","#checkout-border-color":"rgb(0, 0, 0)","#checkout-border-color-hover":"rgb(0, 0, 0)","#checkout-border-radius":"0px","#tocartbtn-text":"GO TO CART","#tocartbtn-display":"none","#tocartbtn-width":"160px","#tocartbtn-height":"41px","#tocartbtn-font-size":"12px","#tocartbtn-font-weight":"400","#tocartbtn-font-style":"normal","#tocartbtn-text-decoration":"none solid rgb(255, 255, 255)","#tocartbtn-color":"rgb(255, 255, 255)","#tocartbtn-color-hover":"rgb(224, 224, 224)","#tocartbtn-background-color":"rgb(0, 0, 0)","#tocartbtn-background-color-hover":"rgb(0, 0, 0)","#tocartbtn-border-width":"0px","#tocartbtn-border-color":"rgb(0, 0, 0)","#tocartbtn-border-color-hover":"rgb(0, 0, 0)","#tocartbtn-border-radius":"0px"}</div>
   <div class="json-stickybar" data-key="stick-1">{"#stickybar-display":"flex","#stickybar-action":"goto_checkout","#stickybar-font-family":"News_Cycle","#stickybar-background-color":"rgb(246, 247, 251)","#stickybar-height":"93px","#stickybar-position":"position_bottom","#stickybar-offset":"0px","#stickybar-display-type":"alwayshow","#stickybar-title-font-size":"16px","#stickybar-title-color":"rgb(0, 0, 0)","#stickybar-title-font-weight":"500","#stickybar-title-font-style":"normal","#stickybar-title-text-decoration":"none solid rgb(0, 0, 0)","#stickybar-buynow-text":"BUY NOW","#stickybar-buynow-width":"130px","#stickybar-buynow-height":"35px","#stickybar-buynow-font-size":"11px","#stickybar-buynow-effect-hover":"slide","#stickybar-buynow-font-weight":"700","#stickybar-buynow-font-style":"normal","#stickybar-buynow-text-decoration":"none solid rgb(255, 255, 255)","#stickybar-buynow-color":"rgb(255, 255, 255)","#stickybar-buynow-color-hover":"rgb(255, 255, 255)","#stickybar-buynow-background-color":"rgb(37, 37, 37)","#stickybar-buynow-background-color-hover":"rgb(37, 37, 37)","#stickybar-buynow-border-width":"0px","#stickybar-buynow-border-color":"rgb(255, 255, 255)","#stickybar-buynow-border-color-hover":"rgb(255, 255, 255)","#stickybar-buynow-border-radius":"15px"}</div>
   <div class="json-stickybar" data-key="stick-2">{"#stickybar-display":"flex","#stickybar-action":"goto_checkout","#stickybar-font-family":"News_Cycle","#stickybar-background-color":"rgb(255, 255, 255)","#stickybar-height":"70px","#stickybar-position":"position_top","#stickybar-offset":"0px","#stickybar-display-type":"alwayshow","#stickybar-title-font-size":"16px","#stickybar-title-color":"rgb(0, 0, 0)","#stickybar-title-font-weight":"500","#stickybar-title-font-style":"normal","#stickybar-title-text-decoration":"none solid rgb(0, 0, 0)","#stickybar-buynow-text":"BUY NOW","#stickybar-buynow-width":"130px","#stickybar-buynow-height":"35px","#stickybar-buynow-font-size":"11px","#stickybar-buynow-effect-hover":"slide","#stickybar-buynow-font-weight":"700","#stickybar-buynow-font-style":"normal","#stickybar-buynow-text-decoration":"none solid rgb(255, 255, 255)","#stickybar-buynow-color":"rgb(255, 255, 255)","#stickybar-buynow-color-hover":"rgb(255, 255, 255)","#stickybar-buynow-background-color":"rgb(242, 108, 79)","#stickybar-buynow-background-color-hover":"rgb(242, 108, 79)","#stickybar-buynow-border-width":"0px","#stickybar-buynow-border-color":"rgb(255, 255, 255)","#stickybar-buynow-border-color-hover":"rgb(255, 255, 255)","#stickybar-buynow-border-radius":"2px"}</div>
   <div class="json-stickybar" data-key="stick-3">{"#stickybar-action":"goto_checkout","#stickybar-display":"flex","#stickybar-font-family":"News_Cycle","#stickybar-background-color":"rgb(255, 255, 255)","#stickybar-height":"70px","#stickybar-position":"position_top","#stickybar-offset":"0px","#stickybar-display-type":"alwayshow","#stickybar-title-font-size":"16px","#stickybar-title-color":"rgb(0, 0, 0)","#stickybar-title-font-weight":"500","#stickybar-title-font-style":"normal","#stickybar-title-text-decoration":"none solid rgb(0, 0, 0)","#stickybar-buynow-text":"BUY NOW","#stickybar-buynow-width":"230px","#stickybar-buynow-height":"70px","#stickybar-buynow-font-size":"11px","#stickybar-buynow-effect-hover":"slide","#stickybar-buynow-font-weight":"700","#stickybar-buynow-font-style":"normal","#stickybar-buynow-text-decoration":"none solid rgb(255, 255, 255)","#stickybar-buynow-color":"rgb(255, 255, 255)","#stickybar-buynow-color-hover":"rgb(255, 255, 255)","#stickybar-buynow-background-color":"rgb(17, 17, 17)","#stickybar-buynow-background-color-hover":"rgb(17, 17, 17)","#stickybar-buynow-border-width":"0px","#stickybar-buynow-border-color":"rgb(0, 0, 0)","#stickybar-buynow-border-color-hover":"rgb(0, 0, 0)","#stickybar-buynow-border-radius":"0px"}</div>
   <div class="json-stickybar" data-key="stick-4">{"#stickybar-display":"flex","#stickybar-action":"goto_checkout","#stickybar-font-family":"News_Cycle","#stickybar-background-color":"rgb(242, 108, 79)","#stickybar-height":"70px","#stickybar-position":"position_top","#stickybar-offset":"0px","#stickybar-display-type":"alwayshow","#stickybar-title-font-size":"16px","#stickybar-title-color":"rgb(255, 255, 255)","#stickybar-title-font-weight":"500","#stickybar-title-font-style":"normal","#stickybar-title-text-decoration":"none solid rgb(255, 255, 255)","#stickybar-buynow-text":"BUY NOW","#stickybar-buynow-width":"230px","#stickybar-buynow-height":"70px","#stickybar-buynow-font-size":"11px","#stickybar-buynow-effect-hover":"none","#stickybar-buynow-font-weight":"700","#stickybar-buynow-font-style":"normal","#stickybar-buynow-text-decoration":"none solid rgb(255, 255, 255)","#stickybar-buynow-color":"rgb(255, 255, 255)","#stickybar-buynow-color-hover":"rgb(255, 255, 255)","#stickybar-buynow-background-color":"rgb(0, 0, 0)","#stickybar-buynow-background-color-hover":"rgb(0, 0, 0)","#stickybar-buynow-border-width":"0px","#stickybar-buynow-border-color":"rgb(0, 0, 0)","#stickybar-buynow-border-color-hover":"rgb(0, 0, 0)","#stickybar-buynow-border-radius":"0px"}</div>
   <div class="json-stickybar" data-key="stick-5">{"#stickybar-display":"flex","#stickybar-action":"goto_checkout","#stickybar-font-family":"News_Cycle","#stickybar-background-color":"rgb(255, 255, 255)","#stickybar-height":"70px","#stickybar-position":"position_top","#stickybar-offset":"0px","#stickybar-display-type":"alwayshow","#stickybar-title-font-size":"16px","#stickybar-title-color":"rgb(0, 0, 0)","#stickybar-title-font-weight":"500","#stickybar-title-font-style":"normal","#stickybar-title-text-decoration":"none solid rgb(0, 0, 0)","#stickybar-buynow-text":"BUY NOW","#stickybar-buynow-width":"130px","#stickybar-buynow-height":"35px","#stickybar-buynow-font-size":"11px","#stickybar-buynow-effect-hover":"none","#stickybar-buynow-font-weight":"700","#stickybar-buynow-font-style":"normal","#stickybar-buynow-text-decoration":"none solid rgb(255, 254, 254)","#stickybar-buynow-color":"rgb(255, 254, 254)","#stickybar-buynow-color-hover":"rgb(255, 255, 255)","#stickybar-buynow-background-color":"rgb(242, 108, 79)","#stickybar-buynow-background-color-hover":"rgb(244, 72, 35)","#stickybar-buynow-border-width":"0px","#stickybar-buynow-border-color":"rgb(255, 255, 255)","#stickybar-buynow-border-color-hover":"rgb(255, 255, 255)","#stickybar-buynow-border-radius":"0px"}</div>
   <div class="json-stickybar" data-key="stick-6">{"#stickybar-display":"flex","#stickybar-action":"goto_checkout","#stickybar-font-family":"News_Cycle","#stickybar-background-color":"rgb(255, 255, 255)","#stickybar-height":"70px","#stickybar-position":"position_top","#stickybar-offset":"0px","#stickybar-display-type":"alwayshow","#stickybar-title-font-size":"16px","#stickybar-title-color":"rgb(0, 0, 0)","#stickybar-title-font-weight":"500","#stickybar-title-font-style":"normal","#stickybar-title-text-decoration":"none solid rgb(0, 0, 0)","#stickybar-buynow-text":"BUY NOW","#stickybar-buynow-width":"145px","#stickybar-buynow-height":"70px","#stickybar-buynow-font-size":"11px","#stickybar-buynow-effect-hover":"slide","#stickybar-buynow-font-weight":"700","#stickybar-buynow-font-style":"normal","#stickybar-buynow-text-decoration":"none solid rgb(255, 255, 255)","#stickybar-buynow-color":"rgb(255, 255, 255)","#stickybar-buynow-color-hover":"rgb(255, 255, 255)","#stickybar-buynow-background-color":"rgb(166, 124, 82)","#stickybar-buynow-background-color-hover":"rgb(165, 115, 65)","#stickybar-buynow-border-width":"0px","#stickybar-buynow-border-color":"rgb(255, 255, 255)","#stickybar-buynow-border-color-hover":"rgb(255, 255, 255)","#stickybar-buynow-border-radius":"0px"}</div>
   <div class="json-stickybar" data-key="stick-7">{"#stickybar-display":"flex","#stickybar-action":"goto_checkout","#stickybar-font-family":"News_Cycle","#stickybar-background-color":"rgb(255, 255, 255)","#stickybar-height":"70px","#stickybar-position":"position_top","#stickybar-offset":"0px","#stickybar-display-type":"alwayshow","#stickybar-title-font-size":"16px","#stickybar-title-color":"rgb(0, 0, 0)","#stickybar-title-font-weight":"500","#stickybar-title-font-style":"normal","#stickybar-title-text-decoration":"none solid rgb(0, 0, 0)","#stickybar-buynow-text":"BUY NOW","#stickybar-buynow-width":"145px","#stickybar-buynow-height":"70px","#stickybar-buynow-font-size":"11px","#stickybar-buynow-effect-hover":"none","#stickybar-buynow-font-weight":"700","#stickybar-buynow-font-style":"normal","#stickybar-buynow-text-decoration":"none solid rgb(255, 255, 255)","#stickybar-buynow-color":"rgb(255, 255, 255)","#stickybar-buynow-color-hover":"rgb(255, 255, 255)","#stickybar-buynow-background-color":"rgb(247, 148, 13)","#stickybar-buynow-background-color-hover":"rgb(247, 148, 13)","#stickybar-buynow-border-width":"0px","#stickybar-buynow-border-color":"rgb(255, 255, 255)","#stickybar-buynow-border-color-hover":"rgb(255, 255, 255)","#stickybar-buynow-border-radius":"0px"}</div>
   <div class="json-stickybar" data-key="basic">{ "#stickybar-display":"flex","#stickybar-action":"goto_checkout", "#stickybar-font-family":"News_Cycle", "#stickybar-background-color":"#bdd", "#stickybar-height":"60px", "#stickybar-position":"position_top", "#stickybar-offset":"0px", "#stickybar-display-type":"alwayshow", "#stickybar-title-font-size":"16px", "#stickybar-title-color":"rgb(255, 255, 255)", "#stickybar-title-font-weight":"500", "#stickybar-title-font-style":"normal", "#stickybar-title-text-decoration":"none solid rgb(255, 255, 255)", "#stickybar-buynow-text":"Buy 1", "#stickybar-buynow-width":"180px", "#stickybar-buynow-height":"42px", "#stickybar-buynow-font-size":"14px", "#stickybar-buynow-font-weight":"700", "#stickybar-buynow-font-style":"normal", "#stickybar-buynow-text-decoration":"none solid rgb(255, 255, 255)", "#stickybar-buynow-text-align":"center", "#stickybar-buynow-color":"rgb(255, 255, 255)", "#stickybar-buynow-color-hover":"#89bdd3", "#stickybar-buynow-background-color":"#89bdd3", "#stickybar-buynow-background-color-hover":"rgb(255, 255, 255)", "#stickybar-buynow-border-width":"0.989583px", "#stickybar-buynow-border-color":"rgb(255, 255, 255)", "#stickybar-buynow-border-color-hover":"rgb(255, 255, 255)", "#stickybar-buynow-border-radius":"0px" }</div>
   <div class="json-stickybar" data-key="modern">{"#stickybar-display":"flex","#stickybar-action":"goto_checkout","#stickybar-font-family":"News_Cycle","#stickybar-background-color":"rgba(0, 0, 0, 0.9)","#stickybar-height":"89px","#stickybar-position":"position_top","#stickybar-offset":"0px","#stickybar-display-type":"alwayshow","#stickybar-title-font-size":"14px","#stickybar-title-color":"rgb(255, 255, 255)","#stickybar-title-font-weight":"400","#stickybar-title-font-style":"normal","#stickybar-title-text-decoration":"none solid rgb(255, 255, 255)","#stickybar-buynow-text":"ADD TO CART","#stickybar-buynow-width":"130px","#stickybar-buynow-height":"40px","#stickybar-buynow-font-size":"14px","#stickybar-buynow-effect-hover":"none","#stickybar-buynow-font-weight":"700","#stickybar-buynow-font-style":"normal","#stickybar-buynow-text-decoration":"none solid rgb(255, 255, 255)","#stickybar-buynow-text-align":"center","#stickybar-buynow-color":"rgb(255, 255, 255)","#stickybar-buynow-color-hover":"rgb(0, 0, 0)","#stickybar-buynow-background-color":"rgba(0, 0, 0, 0.9)","#stickybar-buynow-background-color-hover":"rgb(255, 255, 255)","#stickybar-buynow-border-width":"1px","#stickybar-buynow-border-color":"rgb(255, 255, 255)","#stickybar-buynow-border-color-hover":"rgb(0, 0, 0)","#stickybar-buynow-border-radius":"0px"}</div>
   <div class="json-stickycart" data-key="stickcart-1">{"#stickycart-measure":"pixel","#stickycart-top-pixel":"200px","#stickycart-right-pixel":"10px","#stickycart-display":"flex","#stickycart-font-family":"Lato_Bold","#stickycart-size":"56px","#stickycart-font-size":"24px","#stickycart-background-color":"rgb(255, 255, 255)","#stickycart-background-color-hover":"rgba(255, 255, 255, 0.6)","#stickycart-border-color":"rgb(255, 255, 255)","#stickycart-border-color-hover":"rgb(255, 255, 255)","#stickycart-action":"goto_checkout","#stickycart-content":"icon","#stickycart-color":"rgb(119, 150, 168)","#stickycart-color-hover":"rgb(80, 80, 80)","#stickycart-icon":"fa-shopping-bag","#stickycart-count-size":"18px","#stickycart-count-color":"rgb(255, 255, 255)","#stickycart-count-color-hover":"rgb(255, 255, 255)","#stickycart-count-background-color":"rgb(255, 107, 107)","#stickycart-count-background-color-hover":"rgb(254, 131, 131)"}</div>
</div>